@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Trocchi&display=swap');

:root,
input,
button{
    --bg-color: rgb(210, 210, 210);
    --primary-color: rgb(52, 52, 52);
    background-color:var(--bg-color);
    color:var(--primary-color);
    font-family: "Lora",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.25em;
}
input,
button{
    border: 0.1rem solid var(--primary-color);
}
button.class-el,
button.folder-el
{
    display: flex;
    justify-content: left;
    align-content: center;
    margin: 0;
    width:7.5em;
    height: 3em;
    overflow: hidden;
    text-align: left;
}
#classes-folders-assignments-container{
    display: flex;
}
.assignment-content-div{
    background-color: var(--primary-color);
    color:var(--bg-color);
    padding: 0.1em;
    margin: 0.4em;
    border-radius: 0.2em;

}
.assignment-content-p{
    margin: 0.1em;
}
.label-input-container{
    display: block;
}
.notice{
    background-color: rgba(200, 82, 82, 0.565);
    display: inline-block;
    color: var(--primary-color);
    border-radius: 0.5em;
    padding: 0.1em 0.2em;
}
#settings-pfp-el{
    border-radius: 50%;
    width:2.5em
}