@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p{
    margin: 0.5em;
}
:root,
input,
textarea,
pre,
button{
    --bg-color: 255, 255, 255;
    --primary-color:  0, 5, 5;
    color:rgb(var(--primary-color));
    font-family: "DM Sans",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-left: 0;
    }
    body{
        margin: 0;
    }
input,
textarea,
button{
    background-color: rgba(var(--primary-color), 0.03);
    color: rgb(var(--primary-color));
    border: 0.1rem solid rgba(var(--primary-color),0.1);
    box-sizing: border-box;

}
input{
    background-color:0.1rem solid rgb(var(--bg-color)) ;
    text-transform: none;
}
.assignment-content-p{
    margin: 0.1em 0.2em;
    font-size: 1em;
    font-weight: normal;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

p.message-info{
    font-size: 0.65em;
    font-weight: lighter;
    margin: 0 0.2em;
}

p.message-info{
    color: var(--primary-color);
}
input::placeholder{
    color: rgba(var(--primary-color), 0.5);
}
/*LOGIN PAGE*/
#logged-in-view{
    display:flex;}
#logged-out-view{
    height: 100vh;
    width: 100vw;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-items: center;
    align-content: center;
    padding: 1em 1em 1em 0;
    margin: 0;

}
#google-signin-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#google-logo path {
    fill: rgb(var(--bg-color));
}
#google-logo{
    margin: 0 0.2em;
    width: 1.25em;
}

.window{
    padding:0;
    border-radius: 0.75em;
    border: solid 0.1em rgb(var(--primary-color),0.25) ;
    overflow: hidden;
}
.window#login{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 25em;

}
.window.class-controls-dialog[open]{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: fit-content;
    width: 25em;
}

#class-controls-buttons-container{
    display: flex;
    flex-direction: row;
    width: 100%; 
}
#class-controls-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%;
}
dialog::backdrop{
    background-color: rgba(255,255,255,0.7);
}
#dialog-container{
    height: auto;
    width: auto;
display: flex;
justify-content: center;
align-items: center;
}
#inputs-auth{
    margin-bottom: 0.75em;
}
#inputs-auth,
#buttons-auth{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input-auth,
.button-auth{
    height: 3em;
    width: 25.5em;
    margin: 0.15em 0.15em 0.15em 0;
}
.button-auth{
    color:rgb(var(--bg-color));
    background-color: rgb(var(--primary-color));
}
.window-header{
    background-color: rgba(var(--primary-color), 0.10);
    width: 100%;
    height: auto;
    padding: 0.35em;
    margin:0 0 1em 0;
    position: relative;
    top:0;
    text-align: center;
    border-bottom:0.1em solid rgba(var(--primary-color),0.04); ;
}
#logged-in-view{
    display: flex;
    flex-direction:row;
}

/* LOGGED IN */
button.class-el,
button.folder-el,
button.assignment-el,
button.user-el
{
    display: flex;
    justify-content: left;
    align-items: center;

    margin: 0;
    width:100%;
    padding: 0.45em;
    height: 3em;
    overflow: hidden;
    text-align: left;
    border-bottom: 0;
    border-right: 0;
    border-radius: 0;
    border: 0.1em solid rgba(var(--primary-color),0.04);
    font-weight: normal;


}
button.class-el:last-of-type,
button.folder-el:last-of-type,
button.assignment-el:last-of-type,
button.user-el:last-of-type
{
    
    border-bottom: 0.1em solid rgba(var(--primary-color), 0.04);
    border-radius: 0 0 0.75em 0.75em;

}

#classes-folders-assignments-container{
    display: flex;
    flex-direction: column;
    border-right: 0.15em solid rgba(var(--primary-color),0.075);
    background-color: rgba(var(--bg-color));
    width: 11.5em;
    height: 100vh;
    padding: 0.75em;
    margin:0;
    

}
.message-bubble{
    background-color: rgba(var(--primary-color), 0.075);
    color:rgba(var(--primary-color));
    margin: 0.4em;
    padding: 0.2em 0.1em;
    border-radius: 0.75em ;
    display: flex;
    flex-direction: row;
    width:20em;
    height: fit-content;

}
.label-input-container{
    display: block;
}
.notice{
    background-color: rgba(200, 82, 82, 0.565);
    display: inline-block;
    color: rgb(var(--primary-color));
    border-radius: 0.5em;
    padding: 0.1em 0.2em;
}
#settings-pfp-el{
    border-radius: 50%;
    width:2.5em
}
#classes-join-create{
    background-color: rgba(var(--primary-color), 0.05);
    padding: 0;
    height: 2em;
    width: 11.5em;
    border-radius:  0 0 0.5em;
    border: rgba(var(--primary-color), 0.05);
    display: flex;
    flex-direction: column;
}

#settings-btn{
    position: fixed;
    bottom:0;
    right: 0;
}
#main-section{
        display: flex;
        flex-direction:row;
        width: 100%;
    }
    
.header{
    box-sizing: border-box;
    display: flex;
    background-color: rgba(var(--primary-color), 0.1);
    border: 0.1em solid rgb(var(--primary-color), 0.05);
    padding: 0.1em 0.3em;
    margin: 0;
    border-radius: 0.5em 0.5em 0 0;
    width: 100%;
    height: 25px;
    align-items: center;
    text-align: left;
    font-size: 15px;
        font-weight: bold;
    }

.control-input{
    margin:  0.2em 0 0.2em 0;
    border-radius: 0.4em;
    font-size: 3.5em;
    display: flex;
    justify-items: center;
    font-size: 1.5em;
}
.control-input#class-input{
    height: 2.5em;
    width: 6.5em;
    font-size: 3.5em;
    text-transform: capitalize;
    display: flex;
    justify-items: center;
}
.control-input{
    height: 2.5em;
    width: 15em;
}

.control-button,
.close-control-button{
    height: 4.5em;
    width: 50%;
    font-size: 0.85em;
    margin-bottom: 0;
    border-radius: 0;
}
.close-control-button{
    height: 4.5em;
    width: 15em;
}
button.selected-item{
    background-color: rgba(68, 107, 208, 0.207);
    color: rgb(var(--primary-color));
}
#welcome-message{
    display: inline-block;
    width: 100%;
}
#assignment-content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.message-info{
    display: flex;
    flex-direction: row;
}
.user-info-post-div{
    display: flex;
}
.user-pfp-message-info{
    width:2em;
    height:2em;
    border-radius: 50%;
    
}
.assignment-content-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
}
.user-img-btn{
    width:2em;
    height:2em;
    border-radius: 50%;
    margin: 0.5em;

}
#type-header{
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 0.1em;

}
#class-admin-button{
    border-radius: 0 6px 0 0 ;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0;
    margin: 0;
    border: 0;
    border-left: 0.12em solid rgb(var(--primary-color),0.05);
    background-color: rgba(var(--primary-color),0.05);
    font-weight: bold;
    color: rgba(var(--primary-color)) ;
}
#class-post-admin-input{
    width: fit-content;
    height: fit-content;
    font-size: 1em;
    background-color: rgb(var(--bg-color));
    margin: 0.25em;
}
#class-post-admin-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgba(var(--primary-color),0.05);
    width: 100%;
    height: fit-content;
    max-height: 6em ;
}
#class-post-admin-button{
    height:fit-content;
    width: fit-content;
    border-radius: 0.25em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 0.75em;
    border: #908579 solid 0.20em;
}

.material-symbols-rounded {
    color: rgb(var(--primary-color));
    font-size: 15px !important;

  }
  #type-header-label{
    display: flex;
    height: 1.5em;
    margin: 0;
  }
  #class-input-header-icon{
    display: flex;
    align-items: center;
    height: 1.5em;
    margin: 0.2em;
  }
  #type-label-icon-container{
    width: 7em;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  #type-span-structure-icon{
    width: 16px;
    margin: 0;
    margin: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #all-users-icon {
    margin: 0.5em 0.65em 0.5em 0.75em;

  }
#class-create-button{
    width: 15em;
}
.coloured-button{
    background-color: rgba(var(--primary-color),0.85);
    color: rgb(var(--bg-color));
}
#class-info{
    height: 2em;
    background-color: rgba(var(--primary-color), 0.15);
    padding: 0.25em 0.5em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#class-name-head,
#class-code-head{
    margin: 0;
    background-color: rgba(--var(--bg-color));
    font-size: 1em;
    display: inline-block;
}
#class-code-head{
    font-weight: bold;
    background-color: #e8e8e8;
    padding: 0.2em;
    border-radius: 0.45em;
}
#class-folder-color-input{
    width: 2em;
    height: 2em;
    margin: 0.5em;
}
#class-folder-color-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5em;

}
.folder-color-marker{
    height: 1em;
    width: 1em;
    margin: 0.25em;
    border-radius: 0.25em;
    background-color: rgb(var(--primary-color));
}
#mega-header{
    font-family: "Poppins";
    font-size: 4em;
    text-align: center;
    line-height: 1.2em;
    max-width: 10em;
    margin: 0.5em auto 0 auto;
    z-index: 1;
}

#homepage-image{
    display: block;
    width:90%;
    margin: 0.5em auto 0 auto;

}
.login-button{
    background-color: inherit;
    color: #f1f1f1;
    width:fit-content ;
    padding: 0;
    height: 2.5em;
    margin: 0 auto;
    display: block;
    border-radius: 1em;

}
.login-button-form{
    border-radius: 50%;
    margin: 1em;
}
#login-section-home{
    background-color: #f5ebe0;
    padding: 0.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login-button-el.material-symbols-rounded{
    color: #908579;
}
#login-button-el{
    background-color: #e3d5ca;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
    border-radius: 0.6em;

}
.login-button{
    display: inline;
    font-weight: bold;
    border: 0;
    color: #908579;
}
#top-section-home{
    background-image: url(./assets/homepage/gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
    width: 95%;
    margin: 0 auto;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#homepage{
    background-color: #2E2E2E;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#top-section-header{
color: #908579;
font-size: 3em;
font-weight: bold;
text-align: center;
flex-wrap: wrap;
padding: 1em;
}
.feature-container-dark{
    background-color: #BEA496;
}
.feature-container-light{
        background-color: #E3D5CA;
}
.feature-container{
    height: fit-content;
    width: 12em;
    height: 12em;
    margin: 1em;
    border-radius: 2.5em;
    padding:  1em 1em 0 1em;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
    align-content: space-between;
    justify-content: space-between;
    
}
.feature-container-text-light{
    color: #EDEDE9;
}
.feature-container-text-dark{
    color: #BEA496;
}
.feature-container-text{
    font-size:
    1.5em;
    text-align: center;
    margin: 0.5em auto;
}
.feature-container-image{
    height: 6em;
    border-radius: 0.6em 0.6em 0 0;
    margin: 0 auto;
}
#site-features-section-home{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    min-width: 12em;
    height: fit-content;
    margin: 0 auto;
    justify-content: center;
}
.homepage-text{
    color: #908579;
    margin: 0.5em;
}